body {
  font-family: "Times New Roman", serif;
  background-color: #ffffff;
}

.container {
  width: 700px;
  margin: 40px auto;
  display: flex;
  border: 1px solid #000;
}

.box {
  width: 50%;
  padding: 20px;
  border-right: 1px solid #000;
}

.box:last-child {
  border-right: none;
}

h2 {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 90%;
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 6px 12px;
}

p {
  margin: 12px 0;
}
